* {
  padding: 0;
  margin: 0; }

h2 {
  font-size: 16px;
  color: #000; }

body {
  color: #555; }

header {
  height: 44px;
  background-color: #31c27c;
  position: relative; }
  header .logo {
    width: 90px;
    height: 25px;
    margin: 9px 0 0 10px;
    float: left;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: cover; }
  header .playStation {
    height: 25px;
    float: right;
    padding: 0 10px;
    margin: 9px 10px 0 0;
    border: 1px solid #fff;
    line-height: 25px;
    border-radius: 20px; }

.tab {
  display: flex;
  flex-direction: row;
  flex: 1;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  cursor: default; }
  .tab .recommend {
    flex: 1;
    height: 40px;
    font-size: 16px;
    position: relative; }
  .tab .list {
    flex: 1;
    height: 40px;
    font-size: 16px;
    position: relative; }
  .tab .search {
    flex: 1;
    height: 40px;
    font-size: 16px;
    position: relative; }
  .tab .main {
    color: #31c27c; }
    .tab .main::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: #31c27c; }

.recommendContent {
  overflow-y: scroll;
  height: calc(100vh - 84px); }
  .recommendContent .recommendloading {
    text-align: center;
    font-size: 18px;
    margin-top: 30px; }

.slides {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin-bottom: 14px;
  transition: .5s;
  transition-duration: .5s;
  max-height: 150px; }
  .slides .slides-A {
    display: flex;
    flex-direction: row;
    min-height: 135px;
    transition: 1s; }
    .slides .slides-A a {
      display: block; }
      .slides .slides-A a img {
        display: block;
        width: 100%;
        transition: .5s;
        max-height: 150px; }
  .slides .slides-B {
    display: flex;
    flex-direction: row;
    transition: 1s; }
    .slides .slides-B a {
      display: block; }
      .slides .slides-B a img {
        display: block;
        width: 100%;
        transition: .5s; }
  .slides .dot {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 6px;
    left: 0;
    right: 0;
    text-align: center; }
    .slides .dot > span {
      width: 6px;
      height: 6px;
      margin: 0 4px;
      border-radius: 3px;
      background: rgba(144, 144, 144, 0.8); }

.radio {
  margin: 0 10px 7px 10px;
  overflow: hidden; }
  .radio h2 {
    font-size: 16px;
    color: #000;
    margin-bottom: 11px; }

.radios {
  display: flex;
  flex-direction: row;
  margin-right: -8px; }
  .radios a {
    display: block;
    min-width: 145px;
    padding-right: 8px;
    margin-bottom: 10px;
    text-decoration: none;
    flex: 1; }
    .radios a .img {
      margin-bottom: 5px;
      position: relative; }
      .radios a .img img {
        display: block;
        width: 100%; }
      .radios a .img .icon {
        position: absolute;
        display: block;
        height: 24px;
        bottom: 5px;
        right: 5px;
        width: 24px;
        background-position: 0 0;
        background-image: url(../img/radio_list.png);
        background-repeat: no-repeat;
        background-size: 24px 60px; }
    .radios a .title {
      display: block;
      height: 36px;
      line-height: 18px;
      margin: 0 7px 5px;
      white-space: normal;
      font-size: 14px;
      text-overflow: ellipsis;
      color: #000; }

.hotSong {
  margin: 0 10px;
  overflow: hidden; }
  .hotSong h2 {
    margin-bottom: 11px; }

.hotSongs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-right: -8px; }
  .hotSongs .hotSong-item {
    display: flex;
    flex-direction: column;
    flex: 40%;
    padding-right: 8px;
    margin-bottom: 10px;
    overflow: hidden; }
    .hotSongs .hotSong-item a {
      text-decoration: none; }
      .hotSongs .hotSong-item a .img {
        position: relative;
        min-height: 145px;
        margin-bottom: 5px; }
        .hotSongs .hotSong-item a .img img {
          display: block;
          width: 100%; }
        .hotSongs .hotSong-item a .img > div {
          position: absolute;
          display: flex;
          flex-direction: row;
          align-items: center;
          left: 5px;
          bottom: 7px;
          line-height: 12px;
          color: #fff; }
          .hotSongs .hotSong-item a .img > div .listen-icon {
            width: 10px;
            height: 10px;
            margin-right: 5px;
            display: block;
            background-position: 0 -50px;
            background-image: url(../img/radio_list.png);
            background-repeat: no-repeat;
            background-size: 24px 60px; }
          .hotSongs .hotSong-item a .img > div .num {
            font-size: 12px;
            height: 12px; }
        .hotSongs .hotSong-item a .img .icon {
          position: absolute;
          display: block;
          height: 24px;
          bottom: 5px;
          right: 5px;
          width: 24px;
          background-position: 0 0;
          background-image: url(../img/radio_list.png);
          background-repeat: no-repeat;
          background-size: 24px 60px; }
      .hotSongs .hotSong-item a .text {
        color: black; }
        .hotSongs .hotSong-item a .text .title {
          overflow: hidden;
          display: block;
          font-size: 14px;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .hotSongs .hotSong-item a .text .author {
          display: block;
          font-size: 12px; }

.listContent {
  margin: 10px;
  margin-bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 94px);
  display: none; }
  .listContent .listloading {
    text-align: center;
    font-size: 18px;
    margin-top: 30px; }
  .listContent .lists {
    display: block; }
    .listContent .lists .list-item {
      margin-bottom: 10px;
      display: flex;
      flex-direction: row;
      align-items: center; }
      .listContent .lists .list-item a {
        display: flex;
        text-decoration: none;
        flex: 1;
        overflow: hidden; }
        .listContent .lists .list-item a .img {
          position: relative;
          width: 100px;
          height: 100px; }
          .listContent .lists .list-item a .img img {
            display: block;
            width: 100%; }
          .listContent .lists .list-item a .img > div {
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 65px;
            left: 5px;
            bottom: 7px;
            line-height: 12px;
            color: #fff; }
            .listContent .lists .list-item a .img > div .listen-icon {
              width: 10px;
              height: 10px;
              margin-right: 5px;
              display: block;
              background-position: 0 -50px;
              background-image: url(../img/radio_list.png);
              background-repeat: no-repeat;
              background-size: 24px 60px; }
            .listContent .lists .list-item a .img > div .num {
              font-size: 9px;
              line-height: 12px;
              opacity: .6; }

.listContent .text-content {
  position: relative;
  overflow: hidden;
  flex: 1; }
  .listContent .text-content .text {
    margin: 0 10px 0 15px;
    overflow: hidden; }
    .listContent .text-content .text h3 {
      font-size: 16px;
      color: #000;
      font-weight: normal;
      margin-bottom: 5px; }
    .listContent .text-content .text p {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.5);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
      .listContent .text-content .text p .songName {
        color: #000; }
  .listContent .text-content .arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -4px;
    width: 6px;
    height: 6px;
    border-right: 1px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
    transform: rotate(-45deg); }

.searchContent {
  display: none;
  overflow-y: scroll;
  height: calc(100vh - 84px); }
  .searchContent .search-bar {
    padding: 10px;
    background: #f4f4f4;
    display: flex;
    flex-direction: row; }
    .searchContent .search-bar .input-bar {
      position: relative;
      background: #fff;
      height: 20px;
      padding: 8px 12px 8px 35px;
      border-radius: 3px;
      display: flex;
      align-content: center;
      flex: 1; }
      .searchContent .search-bar .input-bar .icon {
        position: absolute;
        top: 9px;
        left: 10px;
        width: 18px;
        height: 18px;
        background-image: url(../img/search.png);
        background-repeat: no-repeat;
        background-size: cover; }
      .searchContent .search-bar .input-bar input {
        height: 20px;
        line-height: 20px;
        width: 100%;
        color: rgba(0, 0, 0, 0.3);
        border: none;
        font-size: 14px;
        outline: none; }
      .searchContent .search-bar .input-bar .delet {
        display: none;
        position: absolute;
        top: 9px;
        right: 12px;
        width: 18px;
        height: 18px;
        background: #b1b1b1;
        border-radius: 99px; }
        .searchContent .search-bar .input-bar .delet::before {
          width: 10px;
          height: 2px;
          margin-left: -5px;
          margin-top: -1px;
          content: "";
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          border-radius: 8px;
          background: #fff;
          transform: rotate(45deg); }
        .searchContent .search-bar .input-bar .delet::after {
          width: 2px;
          height: 10px;
          margin-left: -1px;
          margin-top: -5px;
          content: "";
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          border-radius: 8px;
          background: #fff;
          transform: rotate(45deg); }
    .searchContent .search-bar .cancle {
      display: none;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 14px;
      height: 36px;
      line-height: 36px; }
  .searchContent .onloading {
    display: none;
    line-height: 40px;
    text-align: center;
    color: #808080; }
  .searchContent .ending {
    display: none;
    line-height: 40px;
    text-align: center;
    color: #808080; }

.search-songs {
  display: flex;
  flex-direction: column; }
  .search-songs .singerContent {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #e5e5e5; }
    .search-songs .singerContent .singerImg {
      padding: 0 8px;
      display: flex;
      align-items: center; }
      .search-songs .singerContent .singerImg img {
        display: block;
        width: 100%;
        border-radius: 50%;
        width: 40px;
        height: 40px; }
    .search-songs .singerContent .singer .name {
      margin: 10px 0 2px;
      line-height: 18px;
      font-size: 16px;
      font-weight: normal;
      color: #000; }
    .search-songs .singerContent .singer .num {
      color: #808080;
      font-size: 12px; }
      .search-songs .singerContent .singer .num .songsNumber {
        margin-right: 10px; }
  .search-songs .songs-item {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #e5e5e5;
    height: 55px; }
    .search-songs .songs-item .musicLogo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 56px; }
      .search-songs .songs-item .musicLogo span {
        display: block;
        width: 22px;
        height: 20px;
        background-image: url(../img/search-music.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: 22px 30px; }
    .search-songs .songs-item .song {
      overflow: hidden; }
      .search-songs .songs-item .song .songName {
        margin: 10px 0 2px;
        line-height: 18px;
        font-size: 16px;
        font-weight: normal;
        color: #000;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden; }
      .search-songs .songs-item .song .singer {
        font-size: 12px; }

.play {
  transform: translateY(-200%);
  transition: .5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .play .background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: blur(15px);
    transform: scale(1.15);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center; }
  .play .opacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .6; }

.playRadio {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%; }
  .playRadio .ablumHead {
    position: relative;
    padding: 15px 80px 15px 15px;
    background: rgba(0, 0, 0, 0.1); }
    .playRadio .ablumHead div {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .playRadio .ablumHead div img {
        display: block;
        width: 100%;
        max-width: 80px;
        max-height: 80px;
        margin-right: 15px;
        flex: 1; }
      .playRadio .ablumHead div .song {
        display: flex;
        flex-direction: column;
        flex: 1; }
        .playRadio .ablumHead div .song .songName {
          display: block;
          height: 30px;
          font-size: 18px;
          color: #fff; }
        .playRadio .ablumHead div .song .singer {
          display: block;
          height: 21px;
          font-size: 14px;
          color: #fff; }
  .playRadio .playButton {
    position: absolute;
    top: 50%;
    right: 25px;
    width: 43px;
    height: 43px;
    margin-top: -22px;
    border: solid 1px #fff;
    border-radius: 999px;
    background: rgba(0, 0, 0, 0.1);
    opacity: .6; }
    .playRadio .playButton::after {
      content: "";
      display: block;
      width: 17px;
      height: 19px;
      margin: 13px 0 0 16px;
      background-position: 0 -150px;
      background-size: 40px 350px;
      background-repeat: no-repeat;
      background-image: url(../img/sprite_play.png); }
  .playRadio .pauseButton {
    position: absolute;
    top: 50%;
    right: 25px;
    width: 43px;
    height: 43px;
    margin-top: -22px;
    border: solid 1px #fff;
    border-radius: 999px;
    background: rgba(0, 0, 0, 0.1);
    opacity: .6; }
    .playRadio .pauseButton::after {
      content: "";
      display: block;
      width: 9px;
      height: 15px;
      margin: 14px 0 0 17px;
      background-position: 0 -180px;
      background-size: 40px 350px;
      background-repeat: no-repeat;
      background-image: url(../img/sprite_play.png); }

.playRadio {
  display: flex;
  flex-direction: column; }
  .playRadio .lyc {
    flex: 1;
    overflow: hidden; }
    .playRadio .lyc .lycText {
      min-height: 150px;
      padding: 0 10px;
      transition: .5s; }
      .playRadio .lyc .lycText .lyc-item {
        height: 42px;
        line-height: 42px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.6);
        text-align: center; }
  .playRadio .control {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 154px; }
    .playRadio .control .button {
      display: flex;
      justify-content: space-between; }
      .playRadio .control .button .station {
        width: 45px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: 60px 550px;
        background-position: 0 -365px;
        background-image: url(../img/sprite_play.png); }
    .playRadio .control .progress {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .playRadio .control .progress .progressBox {
        position: relative;
        display: block;
        height: 2px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.2);
        overflow: hidden; }
        .playRadio .control .progress .progressBox .progressbar {
          position: absolute;
          height: 2px;
          width: 100%;
          background-color: #31c27c;
          left: -100%; }
      .playRadio .control .progress .startTime, .playRadio .control .progress .endTime {
        width: 55px;
        line-height: 40px;
        text-align: center; }
  .playRadio .btns {
    width: 100%;
    height: 65px; }
    .playRadio .btns .download {
      position: relative;
      display: block;
      height: 45px;
      line-height: 45px;
      margin: 0 50px;
      padding: 0 55px;
      overflow: hidden;
      white-space: nowrap;
      font-size: 20px;
      color: #fff;
      border-radius: 999px;
      background-color: #31c27c;
      text-align: center;
      text-decoration: none; }
      .playRadio .btns .download::before {
        content: "";
        position: absolute;
        top: 6px;
        left: 6px;
        width: 33px;
        height: 33px;
        background-position: 0 -300px;
        background-size: 40px 350px;
        background-repeat: no-repeat;
        background-image: url(../img/sprite_play.png); }

body {
  font: 12px/1.5 "FZLTXIHJW--GB1-0","hiragino sans gb","Helvetica Neue",Helvetica,STHeiTi,Arial;
  color: #808080;
  background-color: #808080; }

.app {
  max-width: 420px;
  margin: 0 auto;
  background: #fff; }
