.searchContent {
  display: none; }
  .searchContent .search-bar {
    padding: 10px;
    background: #f4f4f4;
    display: flex;
    flex-direction: row; }
    .searchContent .search-bar .input-bar {
      position: relative;
      background: #fff;
      height: 20px;
      padding: 8px 12px 8px 35px;
      border-radius: 3px;
      display: flex;
      align-content: center;
      flex: 1; }
      .searchContent .search-bar .input-bar .icon {
        position: absolute;
        top: 9px;
        left: 10px;
        width: 18px;
        height: 18px;
        background-image: url(../img/search.png);
        background-repeat: no-repeat;
        background-size: cover; }
      .searchContent .search-bar .input-bar input {
        height: 20px;
        line-height: 20px;
        width: 100%;
        color: rgba(0, 0, 0, 0.3);
        border: none;
        font-size: 14px;
        outline: none; }
      .searchContent .search-bar .input-bar .delet {
        display: none;
        position: absolute;
        top: 9px;
        right: 12px;
        width: 18px;
        height: 18px;
        background: #b1b1b1;
        border-radius: 99px; }
        .searchContent .search-bar .input-bar .delet::before {
          width: 10px;
          height: 2px;
          margin-left: -5px;
          margin-top: -1px;
          content: "";
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          border-radius: 8px;
          background: #fff;
          transform: rotate(45deg); }
        .searchContent .search-bar .input-bar .delet::after {
          width: 2px;
          height: 10px;
          margin-left: -1px;
          margin-top: -5px;
          content: "";
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          border-radius: 8px;
          background: #fff;
          transform: rotate(45deg); }
    .searchContent .search-bar .cancle {
      display: none;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 14px;
      height: 36px;
      line-height: 36px; }
  .searchContent .onloading {
    display: none;
    line-height: 40px;
    text-align: center;
    color: #808080; }
  .searchContent .ending {
    display: none;
    line-height: 40px;
    text-align: center;
    color: #808080; }
