@import 'px2rem';

header {
    height: px2rem(60px);
    background-color: #31c27c;
    position: relative;
    .logo {
        width: px2rem(90px);
        height: px2rem(25px);
        margin: px2rem(20px) 0 0 px2rem(10px);
        float: left;
        background: {
            image: url(../img/logo.png);
            repeat: no-repeat;
            size: cover;
        }
    }
    .playStation{
        font-size: .3rem;
        height: px2rem(25px);
        float: right;
        padding: 0 px2rem(10px);
        margin: px2rem(20px) px2rem(10px) 0 0;
        border: px2rem(1px) solid #fff;
        line-height: px2rem(25px);
        border-radius: px2rem(20px);

    }
}