@import 'px2rem';

.hotSong {
    margin: 0 px2rem(10px);
    overflow: hidden;
    h2 {
        margin-bottom: px2rem(11px);
    }
}
.hotSongs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: px2rem(-8px);
    .hotSong-item {
        display: flex;
        flex-direction: column;
        flex: 40%;
        padding-right: px2rem(8px);
        margin-bottom: px2rem(10px);
        overflow: hidden;
        a{
            text-decoration: none;
            .img {
                position: relative;
                min-height: px2rem(145px);
                margin-bottom: px2rem(5px);
                img {
                    display: block;
                    width: 100%;
                }
                &>div {
                    position: absolute;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    left: px2rem(5px);
                    bottom: px2rem(7px);
                    line-height: px2rem(12px);
                    color: #fff;
                    .listen-icon {
                        width: px2rem(10px);
                        height: px2rem(10px);
                        margin-right: px2rem(5px);
                        display: block;
                        background: {
                            position: 0 px2rem(-50px);
                            image: url(../img/radio_list.png);
                            repeat: no-repeat;
                            size: px2rem(24px) px2rem(60px);
                        }
                    }
                    .num {
                        font-size: px2rem(12px);
                        height: px2rem(12px);
                    }
                }
                .icon {
                    position: absolute;
                    display: block;
                    height: px2rem(24px);
                    bottom: px2rem(5px);
                    right: px2rem(5px);
                    width: px2rem(24px);
                    background: {
                        position: 0 0;
                        image: url(../img/radio_list.png);
                        repeat: no-repeat;
                        size: px2rem(24px) px2rem(60px);
                    }   
                }
            }
            .text {
                color: black;
                .title {
                    overflow: hidden;
                    display: block;
                    font-size: px2rem(14px);
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .author {
                    display: block;
                    font-size: px2rem(12px);
                }
            }
        }
    }
}