@import 'px2rem';

$remHeight:px2rem(84px);
.recommendContent {
    overflow-y: scroll;
    height: px2rem(1061px);
    .recommendloading{
        text-align: center;
        font-size: px2rem(18px);
        margin-top: px2rem(30px);
    }

}