@import 'px2rem';

.search-songs{
    display: flex;
    flex-direction: column;
    .singerContent{
        display: flex;
        flex-direction: row;
        border-top: 1px solid #e5e5e5;
        .singerImg{
            padding: 0 px2rem(8px);
            display: flex;
            align-items: center;
            img{
                display: block;
                width: 100%;
                border-radius: 50%;
                width: px2rem(40px);
                height: px2rem(40px);
                
            }
        }
        .singer{
            .name{
                margin: px2rem(10px) 0 px2rem(2px);
                line-height: px2rem(18px);
                font-size: px2rem(16px);
                font-weight: normal;
                color: #000;
            }
            .num{
                color: #808080;
                font-size: px2rem(12px);
                .songsNumber{
                    margin-right: 10px;
                    
                }
            }
        }
    }
    .songs-item{
        display: flex;
        flex-direction: row;
        border-top: 1px solid #e5e5e5;
        height: px2rem(65px);
        .musicLogo{
            display: flex;
            align-items: center;
            justify-content: center;
            width: px2rem(56px);
            span{
               display: block;
               width: px2rem(22px);
               height: px2rem(20px);
               background: {
                   image: url(../img/search-music.png);
                   position: 0 0;
                   repeat: no-repeat;
                   size: px2rem(22px) px2rem(30px);
               } 
            }
        }
        .song{
            overflow: hidden;
            .songName{
                margin: px2rem(10px) 0 px2rem(2px);
                line-height: px2rem(18px);
                font-size: px2rem(20px);
                font-weight: normal;
                color: #000;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .singer{
                font-size: .2rem;
            }
        }    
    }
}