@import 'px2rem';

.slides {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-bottom: px2rem(14px);
    // min-height: 135px;
    transition: .5s;
    transition-duration: .5s;
    max-height: px2rem(250px);
    .slides-A {
        display: flex;
        flex-direction: row;
        min-height: px2rem(135px);
        transition: 1s;
        a {
            display: block;
            img {
                display: block;
                width: 100%;
                transition: .5s;
                max-height: px2rem(250px);
            }
        }
    }
    .slides-B {
        display: flex;
        flex-direction: row;
        transition: 1s;
        a {
            display: block;
            img {
                display: block;
                width: 100%;
                transition: .5s;
            }
        }
    }
    .dot {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        bottom: px2rem(6px);
        left: 0;
        right: 0;
        text-align: center;
        &>span {
            width: px2rem(6px);
            height: px2rem(6px);
            margin: 0 px2rem(4px);
            border-radius: px2rem(3px);
            background: rgba(144,144,144,.8);
        }
    }
}